<!DOCTYPE html>
<html>
  <head>
    <title>Site ready for push</title>
    <meta name="generator" value="shak"/>
    <!-- FIXME -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class='container'>
    <h1>Site ready for push</h1>
    <p>
    To add contents to this site, push it with SSH. There are different ways to
    do it.
    </p>
    <table class='table'>
      <tr>
        <th>Method</th>
        <th>Example</th>
      </tr>
      <tr>
        <td>rsync</td>
        <td>
          <pre>rsync -avpz /path/to/contents/ <%= @app['site']['hostname']%>:<%= @app['directory'] %>/</pre>
        </td>
      </tr>
      <tr>
        <td>scp</td>
        <td>
          <pre>scp -r /path/to/contents/* <%= @app['site']['hostname']%>:<%= @app['directory'] %>/</pre>
        </td>
      </tr>
    </table>
    </div>
  </body>
</html>

