<!DOCTYPE html>
<html>
  <head>
    <title>Coming soon</title>
    <meta name="generator" value="shak"/>
  </head>
  <body>
    <h1>Coming soon</h1>
    <p>
    This site will be pulled from <pre><%= @app['git_repository'] %></pre> soon.
    </p>
  </body>
</html>
