server {
  server_name <%= @hostname %>;

  access_log            /var/log/nginx/<%= @hostname %>.access.log;
  error_log             /var/log/nginx/<%= @hostname %>.error.log;

  include /var/lib/shak/etc/nginx/<%= @hostname %>/*.conf;
}

# vim: ft=nginx
